a { color: #ffffff; text-decoration: none; }
a:hover { color: #ffc107;}
.social-icons a {margin-right: 15px; font-size: 20px; }
.footer-bottom { background-color: #212529; padding: 10px 0; text-align: center; }