<div class="container-xl gap-3" id="headerNav">
  <button class="navbar-toggler border-0 px-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']" [routerLinkActive]="'active'">
    <img src="people_pulse_invert.png" srcset="people_pulse_invert.png 2x, people_pulse_invert.png 3x" alt="People Pulse" [height]="40" [width]="120" fetchpriority="high" loading="lazy">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 gap-xl-3 mb-lg-0 navbar-nav-scroll">
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" aria-current="page">Home</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/employees']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [ariaCurrentWhenActive]="'page'">Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['leaves']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [ariaCurrentWhenActive]="'page'">Leaves</a>
      </li>
      @if (user && user.permissions.includes('department')) {
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['departments']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [ariaCurrentWhenActive]="'page'">Departments</a>
        </li>
      }
      <!-- @if (user && user.permissions.includes('payroll')) {
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false">Payroll Management</a>
          <ul class="dropdown-menu dropdown-menu-lg-end border-light shadow rounded-3" data-bs-theme="light">
            <li><a class="dropdown-item" [routerLink]="['salary-structure']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [ariaCurrentWhenActive]="'page'">Salary Structure</a></li>
            <li><a class="dropdown-item" [routerLink]="['payroll']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [ariaCurrentWhenActive]="'page'">Payroll</a></li>
          </ul>
        </li>

      } -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false">Attendance Management</a>
        <ul class="dropdown-menu dropdown-menu-lg-end border-light shadow rounded-3" data-bs-theme="light">
          <li><a class="dropdown-item" [routerLink]="['attendance']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [ariaCurrentWhenActive]="'page'">Attendance</a></li>
          <li><a class="dropdown-item" [routerLink]="['regularizations']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [ariaCurrentWhenActive]="'page'">Regularization</a></li>
          <li><a class="dropdown-item" [routerLink]="['holidays']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [ariaCurrentWhenActive]="'page'">Holidays</a></li>
          <!-- <li><a class="dropdown-item" [routerLink]="['calendar']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [ariaCurrentWhenActive]="'page'">Calendar</a></li> -->
        </ul>
      </li>
    </ul>
  </div>
  <div class="ms-auto profileDropdown dropdown" data-bs-theme="light" style="height: calc((1.325rem + .9vw)*1.5); width: calc((1.325rem + .9vw)*1.5);">
    @if (user) {
      <button class="border-0 outline-0 dropdown-toggle bg-primary" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false" [tabIndex]="-1" aria-controls="#userMenu" aria-label="User Profile">
        <i class="bi bi-person-circle fs-2"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end border-light shadow rounded-3" id="userMenu" [style.maxWidth.px]="250">
        <li><div class="dropdown-header text-secondary clear-fix">
          <span class="mini_user me-2 mb-3 float-start"><i class="bi bi-person-circle fs-5"></i></span>
          {{user.name}}<br><small class="text-truncate d-block">{{user.email}}</small>
        </div></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" [routerLink]="['my-account']">My Profile</a></li>
        <li><span class="dropdown-item danger-item" role="button" [tabIndex]="-1" (click)="signout($event)">Logout</span></li>
      </ul>
    }
  </div>
</div>