:host{--bs-navbar-toggler-focus-width: 0;
    // --bs-scroll-height: 300px; // Set max height for navbar by default 75vh
}
button.dropdown-toggle::after{border-color: transparent; border: 0; margin-inline: 0;}
@media screen and (max-width: 991px) {
    :host > .container-fluid {justify-content: flex-start;}
    .navbar-collapse{ order: 1;}
}