<div class="container-xl py-3">
    <header class="visually-hidden">
        <h1 class="visually-hidden">HR Dashboard</h1>
    </header>
    
    <section class="row g-3">
        <!-- Employee Management -->
        <article class="col-sm-6 col-lg-6">
            <div class="bg-white rounded-3 p-3 dashboard-card placeholder-glow">
                @defer (when isMasterSummaryLoaded) {
                    <h2 class="h5 d-flex gap-1 justify-content-between">Employee Management &nbsp; <a href="/employees" class="btn btn-sm py-1 rounded-4 mb-auto glow-btn" aria-label="View all employees" title="View all employees"><i class="bi bi-arrow-right"></i></a></h2>
                    <p class="mb-1">Active Employees: <strong>{{masterSummary.activeEmployee}}</strong></p>
                    <p class="mb-1">New Joiners: <strong>{{masterSummary.recentRegistrations}}</strong></p>
                    <p class="mb-1">Pending Approvals: <strong>3</strong></p>
                } @placeholder {
                    <h5 class="mb-1 d-flex gap-2 justify-content-between"><span class="col-10 rounded-2 placeholder"></span><span class="col-2 rounded-5 placeholder"></span></h5>
                    <p class="col-10 mb-1 rounded-2 placeholder"></p>
                    <p class="col-7 mb-1 rounded-2 placeholder"></p>
                }
            </div>
        </article>
        
        <!-- Attendance & Leave Overview -->
        <article class="col-sm-6 col-lg-6">
            <div class="bg-white rounded-3 p-3 dashboard-card placeholder-glow">
                @defer (when attendanceSummary) {
                    <h2 class="h5">Attendance & Leave Overview</h2>
                    <p class="mb-1">Today's Attendance: <strong>{{attendanceSummary['present']}}</strong></p>
                    <p>Pending Leave Requests: <strong>{{attendanceSummary['lateCheckins']}}</strong></p>
                    <a href="/attendance" class="btn btn-sm primary-glow me-2 glow-btn">Go To Attendance&nbsp;<i class="bi bi-arrow-right"></i></a>
                    <a href="/leaves" class="btn btn-sm danger-glow glow-btn">View Leaves&nbsp;<i class="bi bi-arrow-right"></i></a>
                } @placeholder {
                    <h5 class="mb-1 d-flex gap-2 justify-content-between"><span class="col-10 rounded-2 placeholder"></span><span class="col-2 rounded-5 placeholder"></span></h5>
                    <p class="col-9 mb-1 rounded-2 placeholder"></p>
                    <p class="col-7 mb-1 rounded-2 placeholder"></p>
                }
            </div>
        </article>
        <!-- Recent Activity -->
        <article class="col-md-6">
            <div class="bg-white rounded-3 p-3 dashboard-card placeholder-glow">
                @defer (when isActivityLoaded) {
                    <h2 class="h5">Recent Employee Activity</h2>
                    @for (item of activitis; track item.uuid) {
                        <p class="mb-1">{{item.details}}</p>
                    } @empty {
                        <p class="mb-1">No today's activity available.</p>
                    }
                    @if (isMoreActivity || activitySkip > 0) {
                        <nav aria-label="Navigation for activities">
                            <ul class="pagination">
                              <li class="page-item" [class.disabled]="activitySkip < 1">
                                <span class="page-link" role="button" [tabIndex]="-1">Previous</span>
                              </li>
                              <li class="page-item" [class.disabled]="!isMoreActivity">
                                <a class="page-link" href="#" role="button" [tabIndex]="-1">Next</a>
                              </li>
                            </ul>
                        </nav>
                    }
                } @placeholder {
                    <h2 class="h5 placeholder col-10 rounded-1"></h2>
                    @for (item of [0,1,2,3]; track $index) {
                        <p class="mb-1 rounded-1 placeholder col-10"></p>
                    }
                    <h3 class="d-flex gap-2 mt-3"><span class="ms-auto placeholder rounded-2 col-2"></span><span class="placeholder rounded-2 col-2"></span></h3>
                }
            </div>
        </article>
        <!-- Project & Task Management -->
        <div class="col-md-6">
            <div class="bg-white rounded-3 p-3 dashboard-card">
                <p class="h5">Project & Task Management</p>
                <p>Assigned Projects: <strong>4</strong></p>
                <p>Employee Performance Summary: <strong>Available</strong></p>
            </div>
        </div>
    </section>
</div>
