.itemCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease; box-shadow: var(--bs-box-shadow-sm);
  &:hover {
    // transform: translateY(-10px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
}
.form-select.listFilter{width: fit-content;}