.card {max-width: 350px; margin-inline: auto;}
main{
    background: linear-gradient(0deg, #b1c1eb, #d1dcf6, #ddd);
}
img{width: auto; height: auto; max-width: 100%; object-fit: contain;}
// main {
//     background: linear-gradient(-45deg, #1d2671, #c33764, #0099f7, #f11712);
//     background-size: 400% 400%;
//     animation: gradientBG 10s ease infinite;
//     height: 100vh;
// }

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.login-box {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
}