@use "../public/scss/profile-tile.scss";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{scrollbar-width: thin;}
html, body {height: 100%; background-color: var(--bs-gray-200, #f8f9fa); color: var(--gray-700);}
h1 {
  color: var(--gray-900);
  font-weight: 500;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

a {text-decoration: none; outline: none;}

.main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}


.divider {
  width: 1px;
  background: var(--red-to-pink-to-purple-vertical-gradient);
  margin-inline: 0.5rem;
}

.pill-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.pill {
  display: flex;
  align-items: center;
  --pill-accent: var(--bright-blue);
  background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
  color: var(--pill-accent);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  border: 0;
  transition: background 0.3s ease;
  font-family: var(--inter-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
}

.pill:hover {
  background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

.pill-group .pill:nth-child(6n + 1) {
  --pill-accent: var(--bright-blue);
}
.pill-group .pill:nth-child(6n + 2) {
  --pill-accent: var(--french-violet);
}
.pill-group .pill:nth-child(6n + 3),
.pill-group .pill:nth-child(6n + 4),
.pill-group .pill:nth-child(6n + 5) {
  --pill-accent: var(--hot-red);
}

.pill-group svg {
  margin-inline-start: 0.25rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.73rem;
  margin-top: 1.5rem;
}

.social-links path {
  transition: fill 0.3s ease;
  fill: var(--gray-400);
}

.card:not([class*='shadow-'], .shadow, .clear) {
  --bs-card-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  // box-shadow: var(--bs-card-box-shadow);
}
.social-links a:hover svg path {fill: var(--gray-900);}
.btn {--bs-btn-disabled-opacity: 0.2;}
.icon-btn{--bs-btn-line-height: 1.25; aspect-ratio: 1; --bs-btn-padding-x: 0.25rem; --bs-btn-padding-y: 0.25rem; min-width: 40px;}
.btn-shadow-sm{box-shadow: 0px 0px 8px 0px #fff, 0px 3px 5px -2px rgb(0 0 0 / 61%), 0px 3px 2px -2px rgb(0 0 0 / 61%);}
.btn-shadow-sm:hover{box-shadow: 0px 0px 8px 0px #fff, 0px 3px 2px -2px rgb(0 0 0 / 61%);}
.dropdown-item.danger-item{--bs-dropdown-link-color: rgba(var(--bs-danger-rgb), 0.8); --bs-dropdown-link-hover-color: rgba(var(--bs-danger-rgb), 1); --bs-dropdown-link-active-color: #fff; --bs-dropdown-link-hover-bg: rgba(var(--bs-danger-rgb), 0.05); --bs-dropdown-link-active-bg: rgba(var(--bs-danger-rgb), 1);}
.dropdown-item.success-item{--bs-dropdown-link-color: rgba(var(--bs-success-rgb), 0.8); --bs-dropdown-link-hover-color: rgba(var(--bs-success-rgb), 1); --bs-dropdown-link-active-color: #fff; --bs-dropdown-link-hover-bg: rgba(var(--bs-success-rgb), 0.05); --bs-dropdown-link-active-bg: rgba(var(--bs-success-rgb), 1);}
.form-label{margin-bottom: 0.25rem;}
.btn-indigo{
  --color-rgb: 102, 16, 242;
  --color: #6610f2;
  --color-hover: hsl(263, 98%, 45%);
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--color);
  --bs-btn-border-color: var(--color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--color-hover);
  --bs-btn-hover-border-color: var(--color-hover);
  --bs-btn-focus-shadow-rgb: var(--color-rgb);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color-hover);
  --bs-btn-active-border-color: var(--color-hover);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000;
  --bs-btn-disabled-border-color: #000;
}

main {min-height: calc(100dvh - 100px)}

// Table styles
.table {--bs-table-color: var(--gray-700);}
th{font-weight: 500;}
.table-group-divider{border-top-color: darkgray}
// .dropdown-menu{--bs-dropdown-link-color: rgba(var(--bs-secondary-rgb), 1);}
.table tr td:first-child {min-width: 40px;}
.cell_created{min-width: 100px;}
.table-responsive{min-height: 300px; max-height: 70dvh;}
.table .icon-btn.dropdown-toggle::after{border-width: 0; margin: 0;}

@media screen and (max-width: 650px) {
  .divider {
    height: 1px;
    width: 100%;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    margin-block: 1.5rem;
  }
}