.employee-profile{background-image: linear-gradient(180deg, var(--bs-secondary) 100px, transparent 0%); padding-block-start: 50px;}
.settingSec .btn:not(:last-of-type) {--bs-btn-bg: rgba(1,27,86,0.05); --bs-btn-hover-bg: rgba(1,27,86,0.15); --bs-btn-active-bg: rgba(1,27,86,0.85); --bs-btn-active-color: #fff;}
@media screen and (min-width: 768px) {
    .profile-details{display: grid; grid-template-columns: 1fr 300px; column-gap: 1rem; 
        .settingSec{ grid-row: 1 / 3; grid-column: 2;}
    }
}