.profileAvatar{width: 100px; font-size: 100px; line-height: 1; display: inline-block;}
.employee-profile{background-image: linear-gradient(180deg, var(--bs-secondary) 150px, transparent 0%); padding-block-start: 30px;}
.settingSec .btn:not(:last-of-type) {--bs-btn-bg: rgba(1,27,86,0.05); --bs-btn-hover-bg: rgba(1,27,86,0.15); --bs-btn-active-bg: rgba(1,27,86,0.85); --bs-btn-active-color: #fff;}
.glow-btn {
    --bg-rgb: 56, 56, 56;
    --bs-btn-bg: rgba(var(--bg-rgb), 0.1); 
    --bs-btn-color: rgba(var(--bg-rgb), 1);
    --bs-btn-hover-bg: rgba(var(--bg-rgb), 1);
    --bs-btn-active-bg: rgba(var(--bg-rgb), 1);
    --bs-btn-color: rgba(var(--bg-rgb), 1); 
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
}
.primaryBtn{--bg-rgb: var(--bs-primary-rgb); }
.primaryBtn:not(.glow-btn){--bs-btn-bg: #fff;}
summary{display: flex; transform: translate3d(-0.15rem, 0, 0); padding-inline-start: 0.3rem; width: calc(100% + 0.3rem); transition: background-color 0.3s ease; &:hover{background-color: rgba(1,27,86,0.05); transition: background-color 0.3s ease;}}
@media screen and (min-width: 768px) {
    .profile-details{display: grid; grid-template-columns: 1fr calc(300px + 1rem); /*column-gap: 1rem;*/ 
        .settingSec{ grid-row: 1 / 5; grid-column: 2;}
    }
    .settingSec > *:not(a, button){padding-inline-start: 1rem;}
    .settingSec > :is(hr, a, button){margin-inline-start: 1rem; max-width: calc(100% - 1rem);}
}